/* Import de la police Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@400;700&display=swap');


body {
    font-family: 'Space Grotesk', -apple-system, BlinkMacSystemFont, 'Segoe UI', sans-serif;
    background-color: var(--color-01);
    color: var(--color-02);
}

/* Navigation */
nav {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 60px;
    background-color: var(--color-01);
    border-bottom: 2px solid var(--color-02);
    position: sticky;
    /* top: 0;
    z-index: 1000; */
}

.logo {
    font-size: 24px;
    font-weight: 700;
    letter-spacing: 2px;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 100px;
}

.nav-links a {
    text-decoration: none;
    color: var(--color-02);
    font-size: 16px;
    letter-spacing: 1px;
    transition: opacity 0.3s ease;
    font-weight: 400;
}

.nav-links a:hover {
    color: var(--color-03);
}


/* Scrollbar personnalisée */
::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: var(--color-01);
}

::-webkit-scrollbar-thumb {
    background: var(--color-02);
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-03);
}


/* hero section */
.hero-section {
    margin-top: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 200px;
    padding: 100px 20px;
}

.h3 {
    font-size: 24px;
    margin-bottom: 30px;
    margin-top: 30px;
}

.name {
    font-size: 96px;
    font-weight: 700;
}

#lastName {
    padding-left: 200px;
}

#nickname{
    text-align: start;
}

#age{
    text-align: end;
}


.photo-id {
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background: var(--color-03);
    position: relative;
    width: 260px;
    height: 260px;
}